@charset "UTF-8";

/*importação de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Váriaveis */

:root {
    --verde: #416b25;
    --branco: white;
}

/* Css Reset (Compatibilizar com todos os navegadores) */

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1em; /* 1em = 100% (tamanho padrão) */
    font-size: normal;
}

/* Layout */

.container {
    margin: 0 auto; /* centraliza o bloco*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.1em;
    font-weight: 700px;
    background-color: #416b25;
    width: 100px;
    padding: 10px 0px;
    border-radius: 25px;
    align-self: center;
    margin-top: 70px;
    
}

/*----------------------------------*/

/*Smartphone Portrait*/

/*cabeçalho*/
header{
    height: 90px;
    background-color: var(--branco);
}

#logo img {
    border-radius: 50%;
    width: 84px;
    height: 84px;
    margin: 0px 0px 0px 10px;
}

#check{
    display: none;
}

/*Efeito de deslizar o menu*/
/*Se check estiver "checado", criar um estilo para a ul*/
#check:checked~ul{
    right: 0;
}

label{
    font-size: 1.9em;
    font-weight: 500;
    position: fixed;
    top: 25px;
    right: 15px;
    color: rgba(0, 0, 0, 0.5);
}

nav ul {
    height: 100vh; /* 100vh - 100% altura da tela */
    background-color: rgba(2, 59, 2, 0.788);
    list-style: none; /* remover bullets */
    width: 65%;
    position: fixed;
    top: 90px;
    right: -65%;
    transition: all 0.4s;
}

nav ul li {
    padding: 20px 20px;
    border-bottom: 1px solid color(none);
    text-align: right;   
}

nav ul li a { 
    color: var(--branco);
    text-decoration: none; /* remover sublinhado */
}

/* Banner */
main{
    height: 67vh; /*Vai oculpar 67% do espaço que ela esta na tela*/
    background: url(img/chapada-diamantina.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
main h1, h2{
    color: var(--branco);
    /*text-shadow: #000 0.1em 0em 0.1em; /*sombra*/
}
main h1{
    font-size: 3em;
}
main h2{
    font-size: 1.8em;
    margin-top: 20px;
}

/*----------------------------------*/

/*Smartphone Landscape*/

@media (min-width: 576px) {
    
    /* Cabeçalho */
    #logo img{
        margin: 10px 0px 0px 0px;
        background-color: yellow;
    }
    .container{
        max-width: 540px;
        
    }
    
}

/*----------------------------------*/

/*Tablet Portrait*/

@media (min-width: 768px) {
    /* cabeçalho */

    .container{
        max-width: 720px;
        background-color: #00ff00;
    }
    header{
        height: 130px;
    }
    #logo img {
        width: 110px;
        height: 110px;
    }

    nav ul{
        top: 130px;
        width: 50%;
        right: -50%;
    }

    /*banner*/

    main h1{
        font-size: 4em;
    }

        main h2{
            font-size: 2.5em;
        }
}

/*----------------------------------*/

/*Tablet Landscape*/

@media (min-width: 992px) {
    /* cabeçalho */
    .container{
        max-width: 960px;
        background-color: #ffa500;
    }
}

/*-----------------------------------*/

/* PCS e Notebooks*/

@media (min-width: 1200px) {
        .container{
            max-width: 1140px;
            background-color: #ff009d;
        }

        /* cabeçalho */
        header{
            height: 150px;
        }
        #logo img{
            width: 128px;
            height: 128px;
            margin-left: 100px;
        } 

        /* Transformação do menu */
        label{
            display: none;
        }

        nav ul {
            width: 100%;
            height: auto;
            position: static;
            margin-right: 200px;
            display: flex;
            gap: 50px;
            font-size: 17px;
            font-weight: 500;
            background-color: transparent; /*remover a cor do background*/
        }
        nav ul li {
            float: left;
            border: 0;
        }
        nav ul li a {
            color: black;
        }
        nav ul li a:hover {
            color: #5ac610;
        }

        main h1{
            font-size: 5em;
        }
}

/*-----------------------------------*/

/*Telas FullHD / 4K / SmartTVS*/

@media (min-width: 1400px) {
       /* cabeçalho */
       .container{
        max-width: 1360px;
        background-color: var(--branco)
    }

    header{
        height: 170px;
    }

    #logo img{
        width: 160px;
        height: 160px;
    }
}
/*----------------------------------*/